#title{
    text-align: center;
    color:#ffc800
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #6a0000;
    color: #ffffff
}
.button{
    background-color: #b99100;
    color: #ffffff;
}
